@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}


body {
    background-image: url('https://img.freepik.com/fotos-gratis/mesa-de-madeira-vintage-com-ferramentas-de-modelagem-de-barba_53876-127084.jpg?w=1380&t=st=1684851602~exp=1684852202~hmac=cfc61cb0dd59a5c5c6aca7c9a8717f0592096d0a12c8254e9b5234c9744254fb');
    background-size: 100%;  
}

img {
    width: 30%;
}

div {
    text-align: center;
}

.txt {
    border: solid;
    color: rgb(243, 255, 135);
    font-size: 18px;
}

h1 {
    text-align: center;
    color: green;
    font-size: 50px;

}